.contactUsOverlaySection {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: unset;
    padding: unset;
    width: 100%;
    color: white;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 3%, rgba(225, 242, 234, 0.8));
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: 500;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.visible {
    display: flex;
}

#contactUsOverlaySectionCloseBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #004d26;
    font-size: 2rem;
}

.contactUsOverlaySection div {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.contactUsOverlaySection button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    /* Space between icon and text */
    transition: transform 0.2s ease-in-out;
    /* Add smooth animation */
}

.contactUsOverlaySection button i {
    font-size: 18px;
    /* Adjust icon size */
}

.contactUsOverlaySection button:nth-child(1) {
    background-color: red;
    color: #fff;
}

.call-btn i {
    transform: rotate(180deg);
    /* Slight rotation on hover */
}

.contactUsOverlaySection button:nth-child(2) {
    background-color: green;
    color: #fff;
}

.call-btn:hover,
.whatsapp-btn:hover {
    transform: scale(1.1);
    /* Slightly increase button size */
}

.call-btn:hover i {
    transform: rotate(90deg);
    /* Slight rotation on hover */
}

.whatsapp-btn:hover i {
    transform: rotate(-20deg);
    /* Slight opposite rotation for WhatsApp */
}

/* Media query for screens 480px or smaller */
@media (max-width: 480px) {
    .contactUsOverlaySection div {
        flex-direction: column;
        align-items: center;
    }

    .contactUsOverlaySection button {
        width: 100%;
        margin-bottom: 20px;
    }

    #contactUsOverlaySectionCloseBtn {
        top: 0px;
        left: 85%;
    }
}